.ruff_cache
.venv
.env
venv
env
django_cypress.egg-info
*.pyc
__pycache__/
db.sqlite3
media
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
.pytest_cache
node_modules/