on:
  release:
    types:
      - published

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/django-cypress
    permissions:
      id-token: write
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4

      - name: Set the python version
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build the distributions
        run: python setup.py sdist bdist_wheel

      - name: Publish the package
        uses: pypa/gh-action-pypi-publish@release/v1